body {
  font-family: 'proxima-nova', Arial, tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

p {
  display: block;
  bottom: 0;
  top: 0;
}

a {
  color: #D21034;
  font-weight: bold;
  text-decoration: none;
}

.navlinks a:hover {
  border-bottom: 3px solid #D21034;
}

h3 {
  color: #FFF;
}

li {
  list-style-type: none;
}

button {
  background-color: #FFF;
  margin: 0 0 0.3em;
  padding: 0 15px;
  height: 38px;
  min-width: 60px;
  max-width: 100%;
  overflow: hidden;
  vertical-align: bottom;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  white-space: nowrap;
  color: black;
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  border-width: 0;
  margin-top: 40px;
  -webkit-box-shadow: inset 0 -4px 0 -2px rgba(0, 0, 0, 0.1), 0 3px 0 -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 -4px 0 -2px rgba(0, 0, 0, 0.1), 0 3px 0 -1px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #999;
}

.goog {
  width: 500px;
  height: 500px;
}

.main-header {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  height: 90px;
  padding: 0px 0px 0px 0px;  
  background: rgba(255,255,255,0.95);
  border-bottom: 1px solid #D0CECD;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16),0px 1px 2px 0px rgba(0,0,0,0.1);
          box-shadow: 0px 1px 0px 0px rgba(83,69,64,0.16),0px 1px 2px 0px rgba(0,0,0,0.1);
}

.rulogo {
  display: inline-block;
  position: relative;
  width: 140px;
  top: -24px;
  left: 10px;
}

.nav-logo {
  display: inline-block;
  width: 50%;
  height: 70px;
  margin-top: 22px;
}

.logo {
  display: inline-block;
  position: relative;
  width: 70px;
  margin-top: -13px;
  margin-left: 70px;
}

.title {
  display: inline-block;
  position: relative;
  top: -12px;
  left: -135px;
  color: #D21034; /* RUTGERS COLOR: #F5001B */
  font-size: 21px;
}

/* NAVBAR */
.navbar {
  display: inline-block;
  width: 50%;
  float: right;
  position: relative;
  padding-top: 35px;
  left: 0px;
}

.navlinks li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
}

.navlinks {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  bottom: 0;
  text-align: center;
  left: 40px;
}

.navlinks a {
  display: block;
  position: relative;  
  text-transform: uppercase;
  line-height: -38px;
}

/* HERO */
.hero {
  width: 100%;
  background-color: #fff;
  padding-bottom: 30px;
}

.hero.home {
  height: 710px;
}

.heroheading {
  display: inline-block;
  position: fixed;
  color: #FFF; /* #D21034 */
  font-size: 48px;
  width: 600px;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
  margin-top: -320px;
  margin-left: 70px;
}

.box {
  width: 1440px;
  height: 710px;
}

.slide1 {
  /* background-color: #4183D7; */
  background: url(http://i.imgur.com/n6OjeUD.png);
}

.purple {
  background-color: #674172; 
}

.orange {
  background-color: #E46F10;
}

/* MEMBERS */
.member-container {
  padding: 15px 0px 5px 15px;
}

.members h1 {
  text-align: center;
}
.members h1, h2{
  text-transform: uppercase;
}

.grid {
  margin-top: 0px;
}

.row {
  margin-bottom: 30px;
  padding-left: 20px;
}

.row h2 {
  width: 100%;
  text-align: left;
  display: inline-block;
  padding-left: 10px;
}

.row a {
  font-weight: lighter;
}

.card {
  height: 250px;
  width: 250px;
  display: inline-block;
  margin: 0 0px 0px 0;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  background: url("http://i.imgur.com/3t0U2z4.png") 0 0 no-repeat; /* http://www.celebrityendorsementads.com/celebrity-endorsements/celebrities/scarlett-johansson/images/scarlett-johansson.jpg */
  background-size: 100% 100% !important;
  text-align: center;
}

.card h3 {
  line-height: 10px;
  color: black;
}

.overlay {
  height: 250px;
  width: 250px;
}

.overlay:hover {
  background-image: url(http://i.imgur.com/nLOWQeO.png);
  line-height: 250px;
  -webkit-transition: background 0.2s ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: background 0.2s ease-in-out 0s;
  -o-transition: background 0.2s ease-in-out 0s;
  transition: background 0.2s ease-in-out 0s;
}

.text-content {
  width: 250px;
  height: 250px;
  opacity: 0;
  color: white;
  transition: opacity 500ms;
  position: relative;
  top: 50%;
  transform: translateY(-10%);
  line-height: 25px;
  vertical-align: bottom;
}

.text-content:hover {
  opacity: 1;
}

.text-content p {
  margin: 0px 20px;
}

.member-name {
  font-weight: bold;
}

.member-title {
  font-weight: lighter;
}

/* SOCIETIES */
.society-name {
  font-weight: bold;
  font-size: 14px;
}

.rep-name {
  font-weight: lighter;
}

/* CALENDAR */
.calendar {
  
}

/* RESOURCES */
.resource-name {
  font-size: 14px;
  line-height: 520px !important;
}

.resource-container {
  padding: 15px 0px 5px 15px;
}

.resources h1 {
  text-align: center;
}
.resources h1, h2{
  text-transform: uppercase;
}

.group.minutes.card {
  background: url("http://i.imgur.com/H3CD4aX.png") !important;
}

#ru_soe {
  background-image: url(http://i.imgur.com/pVSihCX.png);
  -webkit-background-size: 250px 250px;
       -o-background-size: 250px 250px;
          background-size: 250px 250px;
  /*-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);*/
}

#rusa {
  background-image: url(http://i.imgur.com/oq4LUJb.png);
  -webkit-background-size: 250px 250px;
       -o-background-size: 250px 250px;
          background-size: 250px 250px;
}

#engorg {
  background-image: url(http://i.imgur.com/pVSihCX.png);
  -webkit-background-size: 250px 250px;
       -o-background-size: 250px 250px;
          background-size: 250px 250px;
}

#res {
  background-image: url(http://i.imgur.com/uim7L85.png);
  -webkit-background-size: 250px 250px;
       -o-background-size: 250px 250px;
          background-size: 250px 250px;
}

.segment {
  position: relative;
  width: 50%;
  height: 420px;
  top: -31px;
}

.left {
  float: left;
  background-color: #C0392B;
}

.right {
  float: right;
  background-color: #3A539B;
}

.segment-container {
  padding: 20px 40px;
}

.segment-container h2{
  color: #FFF;
}

.segment-container p{
  color: #FFF;
}

/* UPCOMING EVENTS */
.segment-container ul {
  margin: 0;
  padding: 0;
}

.event-title {
  margin-bottom: 0;
  line-height: 1.2;
}

.cal-button {
  margin-top: 70px;
}

/* ABOUT */
.about-text {
  padding-top: 35px;
  padding-left: 100px;
  padding-right: 100px;
  width: 850px;
  margin: 0 auto;
}

#egcgroup {
  display: block;
  width: 60%;
  margin: auto auto;
}

#duties {
  display: block;
  width: 850px;
  margin: 10px auto;
  left: 20px;
}

#duties li {
  list-style-type: disc;
}

/* FOOTER */
.footer-container {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin-left: -15px;
}

.footer {
  float: left; 
  text-align: center; 
  width: 100%;
}

.footerlinks {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
}

.footerlinks li {
  display: inline-block;
  margin: 0 6px;
}

.legal {
  margin-left: 35px;
  color: #acacab;
}